@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#loader-container {
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    background: #fff;
    z-index: 10000;
    border: 1px solid #000;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #fff;
}

#banner_content {
    display: none;
}

.banner {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #000;
    overflow: hidden;
    display: block !important;
    background: #ffffff;
    transform: translate3d(0px, 0px, 0px);
}

strong {
    font-weight: bold;
}

sup {
    font-size: 6px;
    position: relative;
    top: -0.8em;
    left: -2px;
}

.positionAb {
    position: absolute;
}

.aC {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#clickTag {
    width: 300px;
    height: 250px;
    cursor: pointer;
    box-sizing: border-box;
    top: -1px;
    left: -1px;
}

#loader-container .circle {
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    border: 5px solid #ddd;
    border-bottom-color: #333;
    border-radius: 50%;
    height: 40px;
    left: 50%;
    margin-left: -22.5px;
    margin-top: -22.5px;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 40px;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

img{
    width: 100%;
    height: 100%;
}


#frameGreen{
    width: 300px;
    height: 250px;
    top: -1px;
    left: -1px;
}


[id*='txt-1']{
    width: 233px;
    height: 63px;
    top: 26px;
    left: 34px;
}

[id*='txt-2']{
    width: 178px;
    height: 37px;
    top: 22px;
    left: 61px;
}

#prod-1{
    width: 120px;
    height: 115px;
    top: 90px;
    left: 90px;
}

#prod-2{
    width: 61px;
    height: 61px;
    top: 45px;
    left: 194px;
}

#prod-3{
    width: 29px;
    height: 54px;
    top: 15px;
    left: 265px;
}

#contBTNs{
    width: 300px;
    height: 250px;
    top:0px;
    left: 0px;
}


#btn-1{
    width: 186px;
    height: 29px;
    top: 69px;
    left: 57px;
    background-color: #ffffff;
    cursor: pointer;

}

#btn-2{
    width: 186px;
    height: 29px;
    top: 102px;
    left: 57px;
    background-color: #ffffff;
    cursor: pointer;

}

#btn-3{
    width: 186px;
    height: 29px;
    top: 137px;
    left: 57px;
    background-color: #ffffff;
    cursor: pointer;

}

#btn-4{
    width: 186px;
    height: 29px;
    top: 170px;
    left: 57px;
    background-color: #ffffff;
    cursor: pointer;

}

#btn-4 img{
    width: 186px;
    height: 29px;
}


#logo-ameren{
    width: 170px;
    height: 30px;
    top: 214px;
    left: 63px;
}

#madeEasy{
    width: 118px;
    height: 24px;
    top: 555px;
    left: 144px;
}

#line{
    width: 25px;
    height: 38px;
    top: 547px;
    left: 118px;
}


#correct{
    width: 197px;
    height: 24px;
    top: 89px;
    left: 51px;
}

#txt-correct{
    width: 250px;
    height: 56px;
    top: 108px;
    left: 25px;
}


#inCorrect{
    width: 205px;
    height: 105px;
    top: 35px;
    left: 49px;
}


#btn-learnMore{
    width: 124px;
    height: 27px;
    top: 174px;
    left: 153px;
    background-color: #419639;
    cursor: pointer;
}

#btn-playAgain{
    width: 124px;
    height: 28px;
    top: 173px;
    left: 22px;
    background-color: #ffffff;
    cursor: pointer;
}


